<!DOCTYPE html>
<html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <header>
            Page Header
        </header>
            <H1>Codeial / <%=title%> </H1>
        <footer>
            Page Footer
        </footer>
    </body>
</html>